
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .container {
    width: 80%;
    margin: 0 auto;
    padding: auto 40px;
}

.bg-light {
    background-color: #898989;
}
.mainlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */